/* Fonts */

@font-face {
    font-family: Kalinka;
    src: url("../../resources/Kalinka.ttf");
}

@font-face {
    font-family: Buran_USSR;
    src: url("../../resources/Buran_USSR.ttf");
}
@font-face {
    font-family: Kyrilla;
    src: url("../../resources/KyrillaSansSerif-Black.ttf");
}

/* Main layout */

.layout {
	-fx-background-image: url("../../resources/homeBackground.png");
	-fx-background-size: cover;   
}

.gameLayout {
	-fx-background-image: url("../../resources/gameBackground.jpg");
	-fx-background-size: cover;   
}

.pauseLayout {
	-fx-background-color: black;
	-fx-opacity: 0.8;
}

.loserLayout {
	-fx-background-image: url("../../resources/loserBackground.png");
	-fx-background-size: cover;   
}

.winnerLayout {
	-fx-background-image: url("../../resources/winnerBackground.jpg");
	-fx-background-size: cover;   
}

.topBar {
	-fx-background-color: black;
	-fx-opacity: 0.8;
}

/* Dialogs */

.dialog-pane {
    -fx-background-color: #2e0101;
}
.dialog-pane .label {
    -fx-font-family: "KyrillaSansSerif-Black";
	-fx-font-size: 18px;
	-fx-text-fill: white;
}

.dialog-pane .button {
	-fx-background-color: #d83737;
	-fx-font-family: "Buran USSR";
	-fx-font-size: 18px;
   	-fx-text-fill: white;
   	-fx-wrap-text: true;
   	-fx-effect: dropshadow(three-pass-box, #ed7171, 10.0, 0.0, 0.0, 0.0);
   	-fx-cursor: hand;
}

.dialog-pane .button:hover {
	-fx-background-color: #ed7171;
}
/* Common Buttons */

.commonButton {
	-jfx-rippler-fill: black;
	-fx-font-family: "Buran USSR";
	-fx-background-color: transparent;
	-fx-font-size: 32px;
	-fx-text-fill: white;
	-fx-opacity: 1;
}

.commonButton:hover {
	-fx-background-color: #f32e2e;
}

.clearButton {
	-jfx-rippler-fill: black;
	-fx-font-family: "Buran USSR";
	-fx-background-color: transparent;
	-fx-font-size: 32px;
	-fx-text-fill: white;
}

.clearButton:hover {
	-fx-background-color: #f32e2e;
}


.exitButton {
	-fx-font-family: "Calibri Light";
	-fx-font-size: 14px;
	-fx-text-fill: #f7f5f3;
}

.exitButton:hover, 
.exitButton:focused {
	-fx-background-color: #c6c4c1;
	-fx-text-fill: black;
}
.exitButton:pressed {
	-fx-text-fill: black;
}

/* Text */

.simpleBodyText {
	-fx-font-family: "KyrillaSansSerif-Black";
	-fx-font-size: 18px;
	-fx-text-fill: #dbdbdb;
}

.boldBodyText {
	-fx-font-family: "KyrillaSansSerif-Black";
	-fx-font-size: 18px;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-fill: white;
}

.italicBodyText {
	-fx-font-family: "Buran USSR";
	-fx-font-size: 18px;
	-fx-text-fill: #dbdbdb;
	-fx-font-style: italic;
}

.italicBodyTextBig {
	-fx-font-family: "Buran USSR";
	-fx-font-size: 32px;
	-fx-text-fill: #dbdbdb;
	-fx-font-style: italic;
}
.italicBodyTextYellow {
	-fx-font-family: "Buran USSR";
	-fx-font-size: 24px;
	-fx-text-fill: #ffff00;
}
.gameText {
	-fx-font-family: "Kalinka";
	-fx-font-size: 32px;
	-fx-text-fill: #ffff00;
	-fx-opacity: 1;
}

.gameTextLittle {
	-fx-font-family: "Kalinka";
	-fx-font-size: 24px;
	-fx-text-fill: #ffff00;
	-fx-opacity: 1;
}

.gameText2 {
	-fx-font-family: "Kalinka";
	-fx-font-size: 32px;
	-fx-text-fill: #f32e2e;
	-fx-opacity: 1;
}

.gameText3 {
	-fx-font-family: "Kalinka";
	-fx-font-size: 86px;
	-fx-text-fill: #f32e2e;
	-fx-opacity: 1;
}

.gameText4 {
	-fx-font-family: "Kalinka";
	-fx-font-size: 86px;
	-fx-text-fill: #33e774;
	-fx-opacity: 1;
}

.textField {
	-fx-font-family: "KyrillaSansSerif-Black";
	-fx-font-size: 18px;
	-fx-text-fill: #dbdbdb;
	-fx-prompt-text-fill: #bfbfbf;
}
.textField .input-line{
    -fx-background-color: white;
}
.textField .input-focused-line{
    -fx-background-color: #f32e2e;
}

.progressBar > .track {
  -fx-text-box-border: #f32e2e;
  -fx-control-inner-background: #ed7171;
}

.progressBar > .bar {
  -fx-background-color: #a90000;
}
